<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-bottom-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../images/logo.gif" alt="score deck logo" height="50px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/auth/login">My Score Deck</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="text-start landing-div">
  <div class="landing-row">
    <div class="col">
      <img src="../images/golfclub.png" alt="a golf ball on a green" width="400px" class="landing-img">
    </div>
    <div class="col p-col">
      <p class=""><strong>Track your score.</strong> <br> Know what you hit on every hole,<br> every time.</p>
    </div>
  </div>
</div>

<hr class="landing-divider">

<div class="text-end landing-div">
  <div class="landing-row landing-row-flip">
    <div class="col p-col p-flip">
      <p class=""><strong>Compare your stats.</strong> <br> Always know your lowest, highest, <br> and most common score
        on every hole.</p>
    </div>
    <div class="col">
      <img src="../images/golfball.png" alt="a golf ball on a green" width="400px" class="landing-img">
    </div>
  </div>
</div>

<hr class="landing-divider">

<div class="text-start landing-div">
  <div class="landing-row">
    <div class="col">
      <img src="../images/golfgreen.png" alt="a golf ball on a green" width="400px" class="landing-img">
    </div>
    <div class="col p-col">
      <p class=" login-register-landing">
        <a href="/auth/login" class="text-success">Login</a>
        or
        <a href="/auth/register" class="text-success">Register</a>
        <br>
        to start improving your game.
      </p>
    </div>
  </div>
</div>

<div class="col">

</div>