<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-bottom-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../images/logo.gif" alt="score deck logo" height="50px">
      </a>
    </div>
  </nav>
</header>

<section class="login-register-section text-center">

  <form id="register" class="login-register-form" method="POST" action="/auth/register">

    <div class="mb-1 m-5">
      <h2>Register</h2>
    </div>

    <div class="mb-1 m-5">
      {{!-- <label for="formGroupExampleInput" class="form-label">Example label</label> --}}
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email address">
    </div>
    <div class="mb-5 m-5">
      {{!-- <label for="formGroupExampleInput2" class="form-label">Another label</label> --}}
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
    </div>
    <button type="button" class="btn btn-success submit-btn">Submit</button>

  </form>

</section>
